<link rel="stylesheet" href="/css/home/home_MenuPage.css">
<div id="id_menu">
  <nav class="nav nav-tabs">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      </div>
      <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-2" >
          <ul class="nav navbar-nav">
            {{#each catogorylist}}
              <li class="hoverheft"><a href="/danhmuc?danhmuc={{this.catid}}">{{this.catname}}</a></li>
            {{/each}}
          </ul>
      </div>
  </nav>
</div>
