<style media="screen">
    .fa {
        font-size: 30px;
        cursor: pointer;
        user-select: none;
    }

    .fa:hover {
        //color: darkblue;
    }

    .actives {
      color: red;
    }

</style>

<div id="buyertoseller" class="modal fade in" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content row">
            <div class="modal-header custom-modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Buyer's Comment Seller</h4>
            </div>

            <div class="modal-body">
                <!-- dung jquery xu ly -->
                <p>Write your comment</p>
                <textarea name="name" rows="15" cols="55" name="CommentBuyer" id="fCommentBuyer1" placeholder="Please ! Write comment this here">
                </textarea>
                <hr class="line">
                <p>Rate for Buyer</p>
                <i onclick="myFunction2(this)" class="fa fa-thumbs-up actives" id="likesss1"></i>
                <i onclick="myFunction3(this)" class="fa fa-thumbs-down pull-right" id="dislikes1"></i>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" name="button" id="idSubmitComment1">Accpect</button>
            </div>
        </div>
    </div>
</div>
