{{#if urlType}}
<div class="btn-group" data-toggle="buttons" id="inline_radio">
    <button class="btn btn-primary"type="button" name="button" id="option1"> Default</button>
    <button class="btn btn-primary"type="button" name="button" id="option2"> Small Price</button>
    <button class="btn btn-primary"type="button" name="button" id="option3"> Turn Best</button>
</div>
{{/if}}
<script type="text/javascript">
  function encryptString (passedString) {
    var s = passedString;
    for (var i = 0; i < Math.floor(passedString.length / 2); i++) {
      s = s.substr(0, (i*2)+1) + '*' + s.substr((i*2)+2);
    }
    return s;
  };
  $(function () {
      $('#inline_radio').on('click', '#option1', function () {
            var Editurl = "{{urlType}}".split("&#x3D;");
            var part2 = Editurl[1].split("&amp;");
            var stringurl = Editurl[0] + "=" + part2[0] + "&" + part2[1] + "=" + Editurl[2];
            stringurl += "&type=0";
            $.ajax({
                url: stringurl,
                method: "GET",
                contentType : "application/json",
                success : function (res) {
                    var ul = $("#rowProduct");
                    ul.html("");
                    if(res.length > 0) {
                      res.forEach(function (SV) {
                        SV.userBid = encryptString(SV.userBid);
                        var StrigResulfHTML = '';
                        var x = new Date(SV.sogiay);
                        var y = new Date();
                        if(x > y){
                            StrigResulfHTML = '<span class="countdown" style="color:blue;" data-countdown="'+ SV.sogiay +'">'+ SV.sogiay +'</span>';
                        } else {
                            StrigResulfHTML = '<span class="countdown" style="color:red;" >'+ 'Finished' +'</span>';
                        }
                        var stringProname = "";
                        if(SV.proname.length > 20) {
                          stringProname = SV.proname.substring(0,20) + "...";
                        }
                        else {
                          stringProname = SV.proname;
                        }

                        

                        ul.append('\
                        <div class="item">\
                          <div class="col-md-3 col-sm-12" style="margin: 10px 0;">\
                            <span class="thumbnail" >\
                              <a href="/item/' + SV.proid +'">\
                              <div class="img-container" style="position:relative;">\
                                <img src="'+ SV.image1 +'" alt="..." class="img-responsive" style="width:350px; height:280px;position:relative;" title="'+ SV.tinydes +'">\
                                  ' + ((SV.isNew === true) ? '<img style="position:absolute;right:-4px;top:-5px;width:100px;" src="/img/label-product-new.png">' : '') + '\
                              </div>\
                              <div style="padding: 0 5%;">\
                                <h4 class="text-danger" title="'+ stringProname +'">'+ stringProname +'</h4>\
                                </a>\
                                <p>\
                                  '+ SV.soluotdaugia +' bids | '+ SV.priceAuction +'$\
                                  <br>\
                                  <span title="'+ SV.userBid +'">('+ SV.userBid +')\
                                </p>\
                                <p class="DateEnd">\
                                  <span class="glyphicon glyphicon-time" aria-hidden="true"></span>\
                                  '+ StrigResulfHTML +'\
                                </p>\
                                <input class="idText" type="hidden" name="id" value="'+ SV.proid +'">\
                                <div class="row">\
                                  <div class="col-md-6 col-sm-6">\
                                    <button button-add="addwishlist" type="button" class="btn btn-link watchlistItem">Add to Wishlist</button>\
                                  </div>\
                                  <div class="col-md-6 col-sm-6">\
                                    <a href="/item/'+ SV.proid +'"><button class="btn btn-danger right" button-bid="bidnow">BID NOW</button></a>\
                                  </div>\
                                </div>\
                              </div>\
                            </span>\
                          </div>\
                        </div>\
                        ');
                      });
                    }
                    else {
                      ul.append('<div class="container">\
                        <h4>No Prodcut In This Times</h4>\
                      </div>')
                    }
                },
                complete: function () {
                  $.getScript("/js/PopupMessageClick.js");
                  $.getScript("/js/countDownt.js");
                }
            });
      });

      $('#inline_radio').on('click', '#option2', function () {
            var Editurl = "{{urlType}}".split("&#x3D;");
            var part2 = Editurl[1].split("&amp;");
            var stringurl = Editurl[0] + "=" + part2[0] + "&" + part2[1] + "=" + Editurl[2];
            stringurl += "&type=1";
            $.ajax({
                url: stringurl,
                method: "GET",
                contentType : "application/json",
                success : function (res) {
                    var ul = $("#rowProduct");
                    ul.html("");
                    if(res.length > 0) {
                      res.forEach(function (SV) {
                      SV.userBid = encryptString(SV.userBid);
                      var StrigResulfHTML = '';
                      var x = new Date(SV.sogiay);
                      var y = new Date();
                      if(x > y){
                          StrigResulfHTML = '<span class="countdown" style="color:blue;" data-countdown="'+ SV.sogiay +'">'+ SV.sogiay +'</span>';
                      } else {
                          StrigResulfHTML = '<span class="countdown" style="color:red;" >'+ 'Finished' +'</span>';
                      }

                      var stringProname = "";
                      if(SV.proname.length > 20) {
                        stringProname = SV.proname.substring(0,20);
                      }
                      else {
                        stringProname = SV.proname;
                      }

                     
                      ul.append('\
                    <div class="item">\
                        <div class="col-md-3 col-sm-12" style="margin: 10px 0;">\
                          <span class="thumbnail" >\
                            <a href="/item/' + SV.proid +'">\
                            <div class="img-container" style="position:relative;">\
                              <img src="'+ SV.image1 +'" alt="..." class="img-responsive" style="width:350px; height:280px;position:relative;" title="'+ SV.tinydes +'">\
                                ' + ((SV.isNew === true) ? '<img style="position:absolute;right:-4px;top:-5px;width:100px;" src="/img/label-product-new.png">' : '') + '\
                            </div>\
                            <div style="padding: 0 5%;">\
                              <h4 class="text-danger" title="'+ stringProname +'">'+ stringProname +'</h4>\
                              </a>\
                              <p>\
                                '+ SV.soluotdaugia +' bids | '+ SV.priceAuction +'$\
                                <br>\
                                <span title="'+ SV.userBid +'">('+ SV.userBid +')\
                              </p>\
                              <p class="DateEnd">\
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>\
                                '+ StrigResulfHTML +'\
                              </p>\
                              <input class="idText" type="hidden" name="id" value="'+ SV.proid +'">\
                              <div class="row">\
                                <div class="col-md-6 col-sm-6">\
                                  <button button-add="addwishlist" type="button" class="btn btn-link watchlistItem">Add to Wishlist</button>\
                                </div>\
                                <div class="col-md-6 col-sm-6">\
                                  <a href="/item/'+ SV.proid +'"><button class="btn btn-danger right" button-bid="bidnow">BID NOW</button></a>\
                                </div>\
                              </div>\
                            </div>\
                          </span>\
                        </div>\
                      </div>\
                      ');
                    });
                    }
                    else {
                      ul.append('<div class="container">\
                        <h4>No Prodcut In This Time</h4>\
                      </div>')
                    }
                },
                complete: function () {
                  $.getScript("/js/PopupMessageClick.js");
                  $.getScript("/js/countDownt.js");
                }
            });
      });

      $('#inline_radio').on('click', '#option3', function () {
            var Editurl = "{{urlType}}".split("&#x3D;");
            var part2 = Editurl[1].split("&amp;");
            var stringurl = Editurl[0] + "=" + part2[0] + "&" + part2[1] + "=" + Editurl[2];
            stringurl += "&type=2";
            $.ajax({
                url: stringurl,
                method: "GET",
                contentType : "application/json",
                success : function (res) {
                    var ul = $("#rowProduct");
                    ul.html("");
                  if(res.length > 0) {
                    res.forEach(function (SV) {
                      SV.userBid = encryptString(SV.userBid);
                      var StrigResulfHTML = '';
                      var x = new Date(SV.sogiay);
                      var y = new Date();
                      if(x > y){
                          StrigResulfHTML = '<span class="countdown" style="color:blue;" data-countdown="'+ SV.sogiay +'">'+ SV.sogiay +'</span>';
                      } else {
                          StrigResulfHTML = '<span class="countdown" style="color:red;" >'+ 'Finished' +'</span>';
                      }
                      var stringProname = "";
                      if(SV.proname.length > 20) {
                        stringProname = SV.proname.substring(0,20);
                      }
                      else {
                        stringProname = SV.proname;
                      }

                     

                      ul.append('\
                    <div class="item">\
                        <div class="col-md-3 col-sm-12" style="margin: 10px 0;">\
                          <span class="thumbnail" >\
                            <a href="/item/' + SV.proid +'">\
                            <div class="img-container" style="position:relative;">\
                              <img src="'+ SV.image1 +'" alt="..." class="img-responsive" style="width:350px; height:280px;position:relative;" title="'+ SV.tinydes +'">\
                                ' + ((SV.isNew === true) ? '<img style="position:absolute;right:-4px;top:-5px;width:100px;" src="/img/label-product-new.png">' : '') + '\
                            </div>\
                            <div style="padding: 0 5%;">\
                              <h4 class="text-danger" title="'+ stringProname +'">'+ stringProname +'</h4>\
                              </a>\
                              <p>\
                                '+ SV.soluotdaugia +' bids | '+ SV.priceAuction +'$\
                                <br>\
                                <span title="'+  SV.userBid +'">('+  SV.userBid +')\
                              </p>\
                              <p class="DateEnd">\
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>\
                                '+ StrigResulfHTML +'\
                              </p>\
                              <input class="idText" type="hidden" name="id" value="'+ SV.proid +'">\
                              <div class="row">\
                                <div class="col-md-6 col-sm-6">\
                                  <button button-add="addwishlist" type="button" class="btn btn-link watchlistItem">Add to Wishlist</button>\
                                </div>\
                                <div class="col-md-6 col-sm-6">\
                                  <a href="/item/'+ SV.proid +'"><button class="btn btn-danger right" button-bid="bidnow">BID NOW</button></a>\
                                </div>\
                              </div>\
                            </div>\
                          </span>\
                        </div>\
                      </div>\
                      ');
                    });
                  } else {
                    ul.append('<div class="container">\
                      <h4>No Prodcut In This Time</h4>\
                    </div>')
                  }
                },
                complete: function () {
                  $.getScript("/js/PopupMessageClick.js"); // loading lai khoi javascript nay khi hoan thanh
                  $.getScript("/js/countDownt.js");
                }
            });
      });
  });
</script>
